In [1]:
himport numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = DataFrame({'k1':['x','x','y','y','z'],
               'k2':['alpha','beta','alpha','beta','alpha'],
               'dataset1':np.random.randn(5),
               'dataset2':np.random.randn(5)})
df

   dataset1  dataset2 k1     k2
0  0.701530 -0.753503  x  alpha
1 -0.551136  1.817610  x   beta
2  0.753133 -0.630334  y  alpha
3  1.657202  0.792698  y   beta
4 -0.777242 -1.322633  z  alpha

In [3]:
group1=df['dataset1'].groupby(df['k1'])
group1

In [4]:
group1.mean()

k1
x    0.075197
y    1.205167
z   -0.777242
Name: dataset1, dtype: float64

In [5]:
cities=np.array(['NY','LA','LA','NY','NY'])
month=np.array(['JAN','FEB','JAN','FEB','JAN'])

In [6]:
df['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.551136
    JAN    0.753133
NY  FEB    1.657202
    JAN   -0.037856
Name: dataset1, dtype: float64

In [8]:
df.groupby('k1').mean()

    dataset1  dataset2
k1
x   0.075197  0.532053
y   1.205167  0.081182
z  -0.777242 -1.322633

In [9]:
df.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
x  alpha  0.701530 -0.753503
   beta  -0.551136  1.817610
y  alpha  0.753133 -0.630334
   beta   1.657202  0.792698
z  alpha -0.777242 -1.322633

In [10]:
df.groupby(['k1']).size()

k1
x    2
y    2
z    1
dtype: int64

In [11]:
for name,group in df.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the x group
   dataset1  dataset2 k1     k2
0  0.701530 -0.753503  x  alpha
1 -0.551136  1.817610  x   beta


This is the y group
   dataset1  dataset2 k1     k2
2  0.753133 -0.630334  y  alpha
3  1.657202  0.792698  y   beta


This is the z group
   dataset1  dataset2 k1     k2
4 -0.777242 -1.322633  z  alpha

In [12]:
for (k1,k2),group in df.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = x Key2 = alpha
   dataset1  dataset2 k1     k2
0   0.70153 -0.753503  x  alpha


Key1 = x Key2 = beta
   dataset1  dataset2 k1    k2
1 -0.551136   1.81761  x  beta


Key1 = y Key2 = alpha
   dataset1  dataset2 k1     k2
2  0.753133 -0.630334  y  alpha


Key1 = y Key2 = beta
   dataset1  dataset2 k1    k2
3  1.657202  0.792698  y  beta


Key1 = z Key2 = alpha
   dataset1  dataset2 k1     k2
4 -0.777242 -1.322633  z  alpha

In [13]:
group_dict = dict(list(df.groupby('k1')))

In [14]:
group_dict['x']

   dataset1  dataset2 k1     k2
0  0.701530 -0.753503  x  alpha
1 -0.551136  1.817610  x   beta

In [15]:
group_dict_axis1=dict(list(df.groupby(df.dtypes,axis=1)))

In [16]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  0.701530 -0.753503
 1 -0.551136  1.817610
 2  0.753133 -0.630334
 3  1.657202  0.792698
 4 -0.777242 -1.322633, dtype('O'):   k1     k2
 0  x  alpha
 1  x   beta
 2  y  alpha
 3  y   beta
 4  z  alpha}

In [20]:
ds2_group = df.groupby(['k1','k2'])[['dataset2']]
ds2_group.mean()

          dataset2
k1 k2
x  alpha -0.753503
   beta   1.817610
y  alpha -0.630334
   beta   0.792698
z  alpha -1.322633