In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
df1=DataFrame(np.arange(8).reshape(2,4),
             index=pd.Index(['LA','SF'],name='city'),
             columns=pd.Index(['A','B','C','D'],name='letter'))
df1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [7]:
df_st=df1.stack()
df_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [8]:
df_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [9]:
df_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [10]:
df_st.unstack('city') #specifies the columns

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [11]:
ser1=Series([0,1,2],index=['Q','S','T'])
ser2=Series([3,4,5],index=['u','v','w'])

In [12]:
df2=pd.concat([ser1,ser2],keys=['Alpha','Beta'])
df2

Alpha  Q    0
       S    1
       T    2
Beta   u    3
       v    4
       w    5
dtype: int64

In [14]:
df2.unstack()

        Q   S   T   u   v   w
Alpha   0   1   2 NaN NaN NaN
Beta  NaN NaN NaN   3   4   5

In [15]:
df2.unstack().stack()

Alpha  Q    0
       S    1
       T    2
Beta   u    3
       v    4
       w    5
dtype: float64

In [16]:
df3=df2.unstack()

In [17]:
df3

        Q   S   T   u   v   w
Alpha   0   1   2 NaN NaN NaN
Beta  NaN NaN NaN   3   4   5

In [18]:
df3.stack()

Alpha  Q    0
       S    1
       T    2
Beta   u    3
       v    4
       w    5
dtype: float64

In [19]:
df3.stack(dropna=False)

Alpha  Q     0
       S     1
       T     2
       u   NaN
       v   NaN
       w   NaN
Beta   Q   NaN
       S   NaN
       T   NaN
       u     3
       v     4
       w     5
dtype: float64