In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
#import pandas testing util
import pandas.util.testing as tm; tm.N=3

#create an unpivoted function
def unpivot(frame):
    N,K = frame.shape
    
    data={'value':frame.values.ravel('F'),
         'variable':np.asarray(frame.columns).repeat(N),
         'date':np.tile(np.asarray(frame.index),K)}
    
    #Return data frame
    return DataFrame(data, columns=['date','variable','value'])

#Set the Dataframe we'll be using
df = unpivot(tm.makeTimeDataFrame())

In [3]:
df

         date variable     value
0  2000-01-03        A -0.489006
1  2000-01-04        A -0.718807
2  2000-01-05        A  0.517978
3  2000-01-03        B  1.623405
4  2000-01-04        B  0.149662
5  2000-01-05        B -1.190070
6  2000-01-03        C -0.424870
7  2000-01-04        C  1.209051
8  2000-01-05        C  0.378415
9  2000-01-03        D  2.051990
10 2000-01-04        D  1.771789
11 2000-01-05        D  0.184066

In [4]:
df_piv=df.pivot('date','variable','value')

In [5]:
df_piv

variable           A         B         C         D
date
2000-01-03 -0.489006  1.623405 -0.424870  2.051990
2000-01-04 -0.718807  0.149662  1.209051  1.771789
2000-01-05  0.517978 -1.190070  0.378415  0.184066