In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
from numpy.random import randn

In [7]:
ser1 = Series([1,2,3,4],index=('A','B','C','D'))

In [8]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [9]:
#Left off at 2 minute mark.
#Reindexing

In [10]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [11]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [12]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [13]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [14]:
ranger = range(15)

In [15]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [17]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
#check documentation for methods of fill in reindex!

In [19]:
df = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'], 
               columns=['col1','col2','col3','col4','col5'])

In [20]:
df

       col1      col2      col3      col4      col5
A  0.392535 -0.057502  0.019387 -0.996109 -0.553170
B -0.442046 -0.946726  0.758536  0.724758  0.738125
D -1.644187 -0.671276 -0.632677  0.224812  1.321470
E -2.767355  0.786465  0.091975  0.179110  1.321951
F  0.501629 -0.566197  0.845665  0.315066 -0.439958

In [21]:
df2 = df.reindex(['A','B','C','D','E','F'])
df2

       col1      col2      col3      col4      col5
A  0.392535 -0.057502  0.019387 -0.996109 -0.553170
B -0.442046 -0.946726  0.758536  0.724758  0.738125
C       NaN       NaN       NaN       NaN       NaN
D -1.644187 -0.671276 -0.632677  0.224812  1.321470
E -2.767355  0.786465  0.091975  0.179110  1.321951
F  0.501629 -0.566197  0.845665  0.315066 -0.439958

In [22]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [24]:
df2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.392535 -0.057502  0.019387 -0.996109 -0.553170   NaN
B -0.442046 -0.946726  0.758536  0.724758  0.738125   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.644187 -0.671276 -0.632677  0.224812  1.321470   NaN
E -2.767355  0.786465  0.091975  0.179110  1.321951   NaN
F  0.501629 -0.566197  0.845665  0.315066 -0.439958   NaN

In [25]:
df

       col1      col2      col3      col4      col5
A  0.392535 -0.057502  0.019387 -0.996109 -0.553170
B -0.442046 -0.946726  0.758536  0.724758  0.738125
D -1.644187 -0.671276 -0.632677  0.224812  1.321470
E -2.767355  0.786465  0.091975  0.179110  1.321951
F  0.501629 -0.566197  0.845665  0.315066 -0.439958

In [27]:
df.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.392535 -0.057502  0.019387 -0.996109 -0.553170   NaN
B -0.442046 -0.946726  0.758536  0.724758  0.738125   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.644187 -0.671276 -0.632677  0.224812  1.321470   NaN
E -2.767355  0.786465  0.091975  0.179110  1.321951   NaN
F  0.501629 -0.566197  0.845665  0.315066 -0.439958   NaN