In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [3]:
ser

1  a   -0.999627
   b   -0.066371
   c    0.748783
2  a   -0.017190
   b   -0.344453
   c    0.211386
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a   -0.999627
b   -0.066371
c    0.748783
dtype: float64

In [6]:
ser[2]

a   -0.017190
b   -0.344453
c    0.211386
dtype: float64

In [7]:
ser

1  a   -0.999627
   b   -0.066371
   c    0.748783
2  a   -0.017190
   b   -0.344453
   c    0.211386
dtype: float64

In [8]:
ser[:,'a']

1   -0.999627
2   -0.017190
dtype: float64

In [9]:
df = ser.unstack()

In [10]:
df

          a         b         c
1 -0.999627 -0.066371  0.748783
2 -0.017190 -0.344453  0.211386

In [11]:
df2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,1,2,2]],
               columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [12]:
df2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  1    4   5   6    7
b 2    8   9  10   11
  2   12  13  14   15

In [13]:
df2.index.names = ['INDEX_1', 'INDEX_2']
df2.columns.names=['Cities','Temp']
df2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        1          4   5   6    7
b       2          8   9  10   11
        2         12  13  14   15

In [14]:
df2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        1          4   5   6    7
b       2          8   9  10   11
        2         12  13  14   15

In [16]:
df2.sortlevel(0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        1          4   5   6    7
b       2          8   9  10   11
        2         12  13  14   15

In [17]:
df2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        1          11   11
b       2          19   19
        2          27   27