In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [5]:
ser1 = Series(np.arange(10),index=['A','B','C','D','E','F','G','H','I','J'])
ser1 = 2*ser1
ser1

A     0
B     2
C     4
D     6
E     8
F    10
G    12
H    14
I    16
J    18
dtype: int64

In [6]:
ser1[0]

0

In [7]:
ser1['B']

2

In [8]:
ser1[1]

2

In [9]:
ser1[0:5]

A    0
B    2
C    4
D    6
E    8
dtype: int64

In [10]:
ser1[['A','B']]

A    0
B    2
dtype: int64

In [11]:
ser1[ser1>5]

D     6
E     8
F    10
G    12
H    14
I    16
J    18
dtype: int64

In [12]:
ser1[ser1>3] = 10
ser1

A     0
B     2
C    10
D    10
E    10
F    10
G    10
H    10
I    10
J    10
dtype: int64

In [13]:
df = DataFrame(np.arange(25).reshape((5,5,)),index=['NYC', 'SF', 'LA', 'DC', 'CHI'],
               columns =['A', 'B','C','D','E'])
df

      A   B   C   D   E
NYC   0   1   2   3   4
SF    5   6   7   8   9
LA   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

In [14]:
df['B']

NYC     1
SF      6
LA     11
DC     16
CHI    21
Name: B, dtype: int64

In [15]:
df[['B','E']]

      B   E
NYC   1   4
SF    6   9
LA   11  14
DC   16  19
CHI  21  24

In [16]:
df[df['C']>8]

      A   B   C   D   E
LA   10  11  12  13  14
DC   15  16  17  18  19
CHI  20  21  22  23  24

In [18]:
df >= 10

         A      B      C      D      E
NYC  False  False  False  False  False
SF   False  False  False  False  False
LA    True   True   True   True   True
DC    True   True   True   True   True
CHI   True   True   True   True   True

In [19]:
df.ix['LA']

A    10
B    11
C    12
D    13
E    14
Name: LA, dtype: int64

In [20]:
df.ix[2]

A    10
B    11
C    12
D    13
E    14
Name: LA, dtype: int64